/* MAIN PAGE  */

@font-face {
  font-family: FuturaHv;
  src: url("https://assets-private.eventfinity.co/materials/2678121/original/FuturaHeavyBT.ttf");
}

@font-face {
  font-family: FuturaLt;
  src: url("https://assets-private.eventfinity.co/materials/2678111/original/Futura_LT_Light_Regular.otf");
}

body{
  background-color: #FF69B4;
}
img.bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
img.bg-top {
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  padding: 20px;
  border-radius: 12.27px;
  border: 4.908px solid var(--Mean-Girls-Pink, #FF69B4);
 background: #FFF;
}

img.bg-logo {
  position: absolute;
  top: 50px;
  left: 285px;
  width: 525px;
  z-index: 2;
}
.last-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  top:365px;
  margin-left: 136px;
}

.row-container {
  width: 800px;
  background: #FFF;
  height: 272px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p.scan-message {
    font-size: 42px;
    margin-top: 32px;
    width: 800px;
    background: #FFF;
    border-radius: 16px;
    text-align: center;
    font-weight: bold;
    font-family: FuturaHv;
    padding: 10px 0px;
}


/* DYNAMIC PAGE  */

img.qr-code {
  width: 200px;
  border: 2px solid;
  border-radius: 8px;
}

.id {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}


.phototext{
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; 
  font-family: FuturaHv;
  margin-bottom: 0;
}

.tags{
  color:  #000;
  text-align: center;
  font-family: FuturaHv;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  margin-bottom: 0;
}
.copyr{
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  font-family: FuturaLt;
}
.buttonBox{
  display: inline-flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
button.sharebtn {
  color: #000;
  text-align: center;
  font-family: FuturaHv;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
}

